@import "../../../styles//variables.scss";


.header{
    padding: 0px 100px;
    height: 70px;
    background-color:$cool-gris;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a h2{
        color: $cool-amarillo;
        font-weight: 700;
    }

    .box__hamburger{
        color: $cool-amarillo;
        display: none;
    }

    .box__btn{
        display: flex;

        .btn_signIn{
            display: flex;
            align-items: center;
            justify-content:center;
            span{
                
                cursor: pointer;
                font-size: 1em;
                font-weight: 500;
                text-decoration: underline;
                color: $cool-amarillo;
            }
        }

        .btn_getStarted{
           
            
           
            
            .spanGet{
                display: flex;
                align-items: center;
                justify-content:center;
                font-weight: 500;
                margin-left:50px;
                cursor: pointer;
                background-color: $cool-amarillo;
                width: 110px;
                height:30px;
                border-radius:20px;
                color: $cool-gris;
            }

            .spanGet:hover{
                background-color: #e4d61c;
                color: rgb(110, 102, 102);
            }
        }
    }
}