@import "../../../styles/variables.scss";


.footer{

    background-color: $cool-gris;
    padding: 25px 100px 0px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    

    .footer__title{
        


        .logo{
            width:250px;
            margin-bottom:10px;
        }

        .qr{
            width:100px;
        }

    }

    
}

.promo{
    background-color: $cool-gris;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;

    img{
        width: 100px;
        object-fit:cover;
    }
}