@import "../../../styles/variables.scss";


.footer{

    background-color: $cool-gris;
    padding: 25px 100px 0px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    h2{
        color: $cool-amarillo;
        margin-bottom:15px;
    }

    ul{
        list-style: none;

        li{
            color: $cool-blanco;
            text-decoration: underline;
        }
    }

    .footer__title{
        
        img{
            width:70px;
        }
    }

    
}

.promo{
    background-color: $cool-gris;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20x 0px;

    img{
        width: 100px;
    }
}