@import "../../../../styles/variables.scss";

.getStarted{
    display: flex;
    justify-content:space-evenly;
    align-items:start;
    height:280px;
    background-color: $cool-amarillo;
    padding: 50px 100px;
    .box__getStarted{
        width:50%;
        
        h1{
            font-size: 3.2em;
            color: $cool-gris;
        }
    }
    .img__getStarted{
        width:50%;
        .img__phone{
            width:500px;
        }
    }
}

.box__btnGet{
    .btn__getStarted{
        margin-top: 25px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        cursor:pointer;
        color: $cool-blanco;
        height: 50px;
        width:200px;
        background-color:$cool-gris;
        border-radius: 25px;
    }
}

